<header>
    <nav>
      <ul>
        <li><a href="/"><%= __('HOME_TITLE') %></a></li>
        <li><a href="/menu"><%= __('MENU_TITLE') %></a></li>
        <li><a href="/about"><%= __('ABOUT_TITLE') %></a></li>
        <li><a href="/contact"><%= __('CONTACT_TITLE') %></a></li>
        <li><a href="/gallery"><%= __('GALLERY_TITLE') %></a></li>
        <!-- Language Switch Links -->
        <li>
          <a href="/lang/sq">Shqip</a> | <a href="/lang/en">English</a>
        </li>
      </ul>
    </nav>
  </header>
  <hr>
  