<%- include('partials/header') %>
<title><%= __('CONTACT_PAGE_TITLE') %></title>

<main>
  <h1><%= __('CONTACT_TITLE') %></h1>
  <p><%= __('CONTACT_ADDRESS') %></p>
  <p><%= __('CONTACT_PHONE') %></p>
  <p><%= __('CONTACT_EMAIL') %></p>
  <p><%= __('CONTACT_HOURS') %></p>
</main>

<%- include('partials/footer') %>
