<%- include('partials/header') %>
<title><%= __('HOME_PAGE_TITLE') %></title>

<main>
  <h1><%= __('HOME_TITLE') %></h1>
  <p><%= __('HOME_DESCRIPTION') %></p>
  <a href="/menu"><%= __('HOME_CTA_MENU') %></a>
</main>

<%- include('partials/footer') %>
